@import "helpers/all";
@import "base/reset";
@import "base/body";
@import "base/top-bar";
@import "base/nav";
@import "base/footer";
@import "pages/home";
@import "pages/music";
@import "pages/videos";
@import "pages/photos";
@import "pages/contact";

div.main-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 960px;
}
