@import '../components/home/header';
@import '../components/home/latest-events';
@import '../components/home/new-music';
@import '../components/home/listen';
@import '../components/home/newsletter';
div.page-home {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div.newsletter-and-footer-container {
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 0;
        width: 960px;
    }
    div.compensator {
        height: 450px;
    }
}