@import '../helpers/all';
div.top-bar {
    width: 100%;
    height: 50px;
    background-color: $rose;
    border: $borderBlack;
    display: flex;
    justify-content: center;
    align-items: center;
    // TEMPORARY STYLES BELOW
    padding: 10px;
}