@import '../helpers/all';
body {
    background-color: $body;
    font-family: 'Century Gothic Regular';
}

* {
    box-sizing: border-box;
}

.section-header {
    font-size: 20px;
}

.switch-wrapper {
    position: relative;
}

.switch-wrapper>div {
    position: absolute;
}