@import "../helpers/all";

footer {
  width: 100%;
  height: 50px;
  background-color: $footer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 60px;

  a {
    color: black;
  }
}

div.footer__copyright,
div.footer__icons {
  width: calc(50% - 25px);
}

div.footer__logo {
  width: 50px;
  justify-content: center;

  a {
    font-family: "Tangerine Bold";
    font-size: 41px;
    text-decoration: none;
  }
}

div.footer__icons,
div.footer__logo,
div.footer__copyright {
  display: flex;
  align-items: center;
}

div.footer__icons {
  justify-content: flex-end;
}

div.footer__copyright {
  justify-content: flex-start;

  span {
    font-size: 14px;
  }
}

div.footer__icon {
  width: 55px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  i {
    font-size: 20px;
  }
}
