@import "../helpers/all";
nav.nav {
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    width: 100%;
    @media only screen and (min-width: 1224px) {
        width: 960px;
    }
}

div.nav__logo,
div.nav__menu-left,
div.nav__menu-right {
    display: flex;
    justify-content: center;
    align-items: center;
    a {
        text-decoration: none;
        color: black;
    }
}

div.nav__logo {
    height: 100%;
    width: 150px;
    font-size: 70px;
    font-family: "Tangerine Bold";
}

div.nav__menu-left,
div.nav__menu-right {
    height: 100%;
    width: 300px;
    li {
        display: inline;
        margin: 0 20px;
    }
    a {
        font-size: 28px;
        @media only screen and (min-width: 1224px) {
            font-size: 20px;
        }
    }
}

div.nav__menu-right {
    margin-left: 20px;
    @media only screen and (min-width: 1224px) {
        margin-left: 0;
    }
}

.docked {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
}