@import '../../helpers/all';
section.latest-events {
    width: 100%;
    height: 550px;
    background-color: $homePageLatestEvents;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1 {
        font-size: 20px;
        margin-top: 10px;
    }
}

div.latest-events__events {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 500px;;
}

div.latest-events__background-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: white;
    width: 100%;
    span {
        white-space: nowrap;
    }
}

div.latest-events__col {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.33%;
    height: 100%;
    z-index: 1;
    &:nth-child(1) {
        margin-left: 10px;
    }
    &:nth-child(3) {
        margin-right: 10px;
    }
}

div.latest-events__event {
    background-color: rgba($color: white, $alpha: 0.5);
    width: calc(100% - 30px);
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
    span {
        font-family: $regular;
        font-size: 32px;
        align-self: flex-start;
    }
    p {
        margin-top: 20px;
        letter-spacing: 1px;
    }
    button {
        position: absolute;
        outline: none;
        background-color: $homePageLatestEvents;
        border: none;
        font-family: $regular;
        width: 164px;
        height: 34px;
        font-size: 14px;
        bottom: 20px;
    }
}