@import '../../helpers/all';

section.new-music {
    width: 100%;
    height: 200px;
    background-color: $homePageNewMusic;
    display: flex;
    justify-content: center;
    align-items: center;
}
