/* COLORS DEFINITION */

$white: #FFE6E6;
$lightestRose: #FFD3D3;
$lightRose: #FFADAD;
$rose: #FF9A9A;

/* ASSIGNMENT TO PAGE PARTS */


/* HOLISTIC */

$body: $white;
$topBar: $white;
$footer: $white;
$nav: $rose;

/* HOME */

$homePageLatestEvents: $lightestRose;
$homePageNewMusic: $lightRose;
$homePageListen: $lightestRose;
$homePageNewsletter: $lightRose;
$homePageHeader: rgba(255, 154, 154, 0.5);

/* MUSIC */

$musicPageTitle: $lightestRose;
$musicPageSingles: $lightRose;
$musicPageAlbums: $lightestRose;
$musicPageEps: $lightRose;

/* PHOTOS */

$photosPageTitle: $lightestRose;
$photosPageGallery: $lightRose;

/* VIDEOS */

$videosPageTitle: $lightestRose;
$videosPageLeft: $lightestRose ;
$videosPageRight: $lightRose;