$regular: "Century Gothic Regular";
@font-face {
  font-family: "Century Gothic Regular";
  src: url(../fonts/century-gothic-regular.ttf) format("truetype");
}

$bold: "Century Gothic Bold";
@font-face {
  font-family: "Century Gothic Bold";
  src: url(../fonts/century-gothic-bold.ttf) format("truetype");
}

$italic: "Century Gothic Italic";
@font-face {
  font-family: "Century Gothic Italic";
  src: url(../fonts/century-gothic-italic.ttf) format("truetype");
}

$boldItalic: "Century Gothic Bold Italic";
@font-face {
  font-family: "Century Gothic Bold Italic";
  src: url(../fonts/century-gothic-bold-italic.ttf) format("truetype");
}
