$regular: "Century Gothic Regular";
@font-face {
  font-family: "Century Gothic Regular";
  src: url(../fonts/century-gothic-regular.ttf) format("truetype");
}

$bold: "Century Gothic Bold";
@font-face {
  font-family: "Century Gothic Bold";
  src: url(../fonts/century-gothic-bold.ttf) format("truetype");
}

$italic: "Century Gothic Italic";
@font-face {
  font-family: "Century Gothic Italic";
  src: url(../fonts/century-gothic-italic.ttf) format("truetype");
}

$boldItalic: "Century Gothic Bold Italic";
@font-face {
  font-family: "Century Gothic Bold Italic";
  src: url(../fonts/century-gothic-bold-italic.ttf) format("truetype");
}

@font-face {
  font-family: "Classica One";
  src: url(../fonts/classica-one.ttf) format("truetype");
}

@font-face {
  font-family: "Cookie Regular";
  src: url(../fonts/cookie-regular.ttf) format("truetype");
}

@font-face {
  font-family: "Great Vibes Regular";
  src: url(../fonts/great-vibes-regular.ttf) format("truetype");
}

@font-face {
  font-family: "Kaushan Script Regular";
  src: url(../fonts/kaushan-script-regular.ttf) format("truetype");
}

@font-face {
  font-family: "Sacramento Regular";
  src: url(../fonts/sacramento-regular.ttf) format("truetype");
}

@font-face {
  font-family: "Satisfy Regular";
  src: url(../fonts/satisfy-regular.ttf) format("truetype");
}

@font-face {
  font-family: "Shelly Allegro C";
  src: url(../fonts/shelly-allegro-c.ttf) format("truetype");
}

@font-face {
  font-family: "Tangerine Bold";
  src: url(../fonts/tangerine-bold.ttf) format("truetype");
}

@font-face {
  font-family: "Tangerine Regular";
  src: url(../fonts/tangerine-regular.ttf) format("truetype");
}
